@font-face {
    font-family: 'TWKEverett';
    src: url('../../fonts/TWKEverett-Medium.ttf');
}

@font-face {
    font-family: 'ExposureVAR';
    src: url('../../fonts/ExposureTrialVAR.ttf');
}

h1 {
    font-weight: 700;
    color:rgb(10, 35, 56);
    font-family: 'TWKEverett';
    font-size: 20px;
  }
  