*{
 margin: 0px;    
 font-family: Arial, Helvetica, sans-serif;
}

body {
background-color:rgb(0, 0, 0);
color:rgb(37, 64, 88);
}


h1 {
    font-weight: 700;
    color:rgb(10, 35, 56);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
    padding-top: 270px;
}

p{
padding-top: 10px;
line-height: 25px;
text-align: center;
}

a{
    text-align: center;
    text-decoration: none;
}

h2{
    color:rgb(195, 202, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
}

h3{
    color:rgb(86, 182, 102)
}

h4{
    font-weight: 700;
    color:rgb(225, 113, 173);
}

.fun{
    color: rgb(255, 119, 191);
    font-size: 24px;
    line-height: 30px;
}

.fun:hover{
    color:rgb(86, 182, 102);
    font-family: 'Roboto Slab', serif;
}

#morefun{
    color: rgb(195, 0, 255);
}

#morefun:hover{
    color: rgb(255, 255, 255);
}

.container{
    columns: 3;
}

  @keyframes color {
    0%   {color: rgb(72, 57, 101);}
    25%  {color: rgb(90, 124, 198);}
    50%  {color: rgb(106, 179, 179);}
    100% {color: rgb(137, 204, 137);}
  }

.color{
    animation-name:color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


