@font-face {
    font-family: 'TWKEverett';
    src: url('../../fonts/TWKEverett-Medium.ttf');
}

@font-face {
    font-family: 'ExposureVAR';
    src: url('../../fonts/ExposureTrialVAR.ttf');
}

h1 {
    font-weight: 700;
    color:rgb(10, 35, 56);
    font-family: 'TWKEverett';
    font-size: 200px;
    text-align: center;
  }

  h2 {
    color:rgb(10, 35, 56);
    font-family: 'ExposureVAR';
    font-stretch: 100%;
    transition: all 0.3s ease;
    font-size: 200px;
    text-align: center;
  }

  h2:hover {
    font-weight: 50;
  }